<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render partial: 'shared/micropost_form', locals: { dm_target: @dm_target }  %>
      </section>
    </aside>
    <div class="span8">
      <h3>Conversation</h3>
      <%= render partial: 'shared/feed' %>
    </div>
  </div>
<% end %>
